.selected-address {
    border-color: blue.500;
    box-shadow: 0 0 5px blue;
};

.boxStyle { 
    border-width: "1px";
    border-radius: "md";
    padding: 4;
    width: "fit-content";
    min-width: "200px";
    cursor: "pointer";
};